
body {
  margin: 0;
  background-color: #2A2C39;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  font-size: 17px;
}


.navbar-brand{
  font-size: 20px;
  position: center;
}
h3{
  color:white;
}


/* Set the size of the div element that contains the map */
#map {
height: 100%;  /* The height is 400 pixels */
width: 100%;  /* The width is the width of the web page */
}



